<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bootslander Bootstrap Template - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

</head>

<body>
  <router-outlet></router-outlet>
    <header id="header" class="fixed-top d-flex align-items-center header-transparent">
      <div class="container d-flex align-items-center justify-content-between">
  
        <div class="logo">
     <h1><a><span>  <img src="assets/assets/img/salhaScreen.png" alt=""> Salha</span></a></h1>
      
        </div>
  
        <nav id="navbar" class="navbar">
          <ul>
            <li><a class="nav-link scrollto active"  routerLink="" class="nav-link" routerLinkActive="active">Accueil</a></li>
            <li class="dropdown"><a href="#"><span>Femmes</span> <i class="bi bi-chevron-down"></i></a>
              <ul>
                <li><a href="#" class="list-group-item list-group-item-action bg-light"  routerLink="femmes" class="nav-link" routerLinkActive="active">Gestion des femmes</a></li>
               
                <li><a href="#" class="list-group-item list-group-item-action bg-light" routerLink="listdesfemmesayantproduction" class="nav-link" routerLinkActive="active">Production des femmes</a></li>
             
              </ul>
            </li>
            <li><a href="#" class="list-group-item list-group-item-action bg-light" routerLink="gouvernorats" class="nav-link" routerLinkActive="active">Gouvernorats</a></li>
          
          <li> <a href="#" class="list-group-item list-group-item-action bg-light"  routerLink="coursiers" class="nav-link" routerLinkActive="active">Coursiers</a></li>
               
          
            <li><a href="#" class="list-group-item list-group-item-action bg-light"  routerLink="produits" class="nav-link" routerLinkActive="active">Produits</a></li>
            <li><a href="#" class="list-group-item list-group-item-action bg-light"  routerLink="unites" class="nav-link" routerLinkActive="active">Unites</a></li>
            
           
            <li><a href="#" class="list-group-item list-group-item-action bg-light"  class="nav-link" routerLinkActive="active">Alimentations</a></li>
  
           
           
            
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>
  
      </div>
    </header>
  
    <section id="hero">

        <div class="container">
          <div class="row justify-content-between">
            <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
              <div data-aos="zoom-out" class="aos-init aos-animate">
                <h1>Bienvenue dans votre espace administratif</h1>
             
                
              </div>
            </div>
            <div class="col-lg-4 order-1 order-lg-2 hero-img aos-init aos-animate" data-aos="zoom-out" data-aos-delay="300">
              <img src="assets/assets/img/homeee.png"  class="img-fluid animated" alt="">
            </div>
          </div>
        </div>
    
        <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
          <defs>
            <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
          </path></defs>
          <g class="wave1">
            <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
          </use></g>
          <g class="wave2">
            <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
          </use></g>
          <g class="wave3">
            <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
          </use></g>
        </svg>
    
      </section>
 
