<h3>Modifier gouvernorat</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nom</label>
      <input type="text" class="form-control" id="nom_G" required [(ngModel)]="gouvernorat.nom_G" name="nom_G">
    </div>

    <div class="form-group">
      <label for="name">Cle</label>
      <input type="text" class="form-control" id="cle_G" required [(ngModel)]="gouvernorat.cle_G" name="cle_G">
    </div>

 
   
     

    <button type="submit" class="btn btn-success">Modifier</button>
  </form>
</div>
